<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xun.soda">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SodaSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".executor.SodaExecutorActivity"></activity>
        <activity android:name=".sodaclean.SodaCleanMvpActivity" />
        <activity android:name=".sodaclean.SodaCleanActivity" />
        <activity android:name=".recyclerview.SodaRecyclerDiyAdapterActivity" />
        <activity android:name=".recyclerview.SodaRecyclerSimpleAdapterActivity" />
        <activity android:name=".recyclerview.SodaRecyclerBaseAdapterActivity" />
        <activity android:name=".recyclerview.SodaRecyclerViewActivity" />
        <activity android:name=".banner.SodaBannerSampleActivity" />
        <activity android:name=".refresh.SodaRefreshSampleActivity" />
        <activity android:name=".tabview.SodaTabTopSampleActivity" />
        <activity android:name=".tabview.SodaTabBottomSampleActivity" />
        <activity android:name=".log.SodaLogSampleActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>